{
    "presets": [
        [
            "@babel/preset-env",
            {
                "shippedProposals": true,
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-private-property-in-object",
        "@babel/plugin-syntax-top-level-await"
    ]
}